<!doctype html>
<html lang="es_ES" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header-anonimo" id="header-section">
  <nav class="navbar navbar-expand-lg pl-3 pl-sm-0">
    <div class="container">
      <a class="navbar-brand d-flex w-100">
        <img th:src="@{/images/Group2.svg}" alt="">
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="@{/, /inicio}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/listausuarios}">Clínicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/listacategorias}">Veterinarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedback-section">Servicios</a>
          </li>
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Contactar</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>