body {
 background-image: url("https://i.gyazo.com/945ebe881ce593944294a879bbccdd1c.png");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #464646;}
#data{

padding-left: 40%;
    padding-top: 20px;
}
#user{
    padding-right: 70%;
}
#pass{
    padding-right: 70%;
}

#button{ width: 200px;
    padding-left 30%;
}
#check{

    padding-top: 10px;
}
#reg{
padding-top: 25px;
}

h2 {
      margin: 20 px 0;
      padding: 20px 20px;
      color: #00539F;
}



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#nav{

left_padding: 5%;}

#logonav{
left_padding: 10%;}

#cuerpo{
 text-align: justify;
 text-justify: inter-word;
padding-top: 20px;
padding-right: 30%;
padding-left: 30%;
}
#subtitulo{
text-align: center;
padding-top: 20px;
padding-right: 20%;
padding-left: 20%;
}
#titulo{
text-align: center;
padding-top: 20px;
padding-right: 20%;
padding-left: 20%;
}
#nombres{
align: bottom;
}
#carousel{
max-width: 60%;
padding-right: 15%;
padding-left: 15%;
}