<!doctype html>
<html lang="es_ES" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/general :: head">
</head>
<body>
<header th:replace="plantillas/general :: header"></header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Lista de clientes</h1>
        <p class="lead">Estos son los clientes que os prefieren a ti antes que a otras clinicas! Echa un vistazo a sus perfiles y mascotas</p>
    </div>




</div>
<div class="container">
    <h1 th:text="${titulo}"></h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Mascota</th>
            <th>Veterinario</th>
            <th>Medicamento</th>
            <th>Posología</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tr : ${tratamiento}">
            <td th:text="${tr.mascota.nombre}"></td>
            <td th:text="${tr.veterinario.nombre}"></td>
            <td th:text="${tr.medicamento}"></td>
            <td th:text="${tr.posologia}"></td>
            <td th:text="${tr.fechaInicio}"></td>
            <td th:text="${tr.fechaFin}"></td>


        </tr>

        </tbody>
    </table>
</div>







<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>