
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!------ Include the above in your HEAD tag ---------->

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">VetAppOint</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis citas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis clinicas</a>
            </li>
            <li class="nav-item pull-right">
                <a class="nav-link" href="#">Cerrar sesion</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido, USUARIO</h1>
        <p class="lead">Estas son tus mascotas, recuerda hacer revisiones periódicas y traerlas a
        tu clinica favorita si lo necesitas</p>
</div>




</div>
<div class="container">
<div class="card" style="width: 25rem;">
    <img src="https://images.ecestaticos.com/H4CUeGslvPRglrmCtaP7A4wz9KQ=/0x115:2265x1390/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Tommy. Golden Retriever</p>
        <a href="#" class="card-link">Ver perfil mascota</a>
        <a href="#" class="card-link">Historial médico</a>
    </div>
</div>
</div>

</body>
</html>