<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!------ Include the above in your HEAD tag ---------->

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">VetAppOint</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis citas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis clinicas</a>
            </li>
            <li class="nav-item pull-right">
                <a class="nav-link" href="#">Cerrar sesion</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido, USUARIO</h1>
        <p class="lead">Recuerda que tu próxima cita para MASCOTA será el DIA, HORA en CLINICA con VETERINARIO</p>
</div>
</div>


<div class="container">

            <div class="panel-heading">
              <h3 class="panel-title">USUARIO</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="" class="img-circle img-responsive"> </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nombre:</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Apellidos:</td>
                        <td></td>
                      </tr>
                      <tr>
                          <td>DNI</td>
                          <td></td>

                      </tr>
                      <tr>
                        <td>Email</td>
                          <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Telefono</td>
                        <td></td>
                      </tr>
                        <tr>
                        <td>Direccion</td>
                        <td>
                            dirección1
                            <br>
                            direccion2
                        </td>
                      </tr>
                      <tr>
                        <td>Localidad</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Provincia</td>
                        <td></td>

                      </tr>
                      <tr>
                          <td>Codigo Postal</td>
                          <td></td>

                      </tr>

                    </tbody>
                  </table>

                  <a href="#" class="btn btn-primary">Editar perfil</a>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>



    </body>
    </html>